.task {
    background: #f6f6f6;
    margin: 10px 0;
    padding: 10px;
}

.task:after {
    content: '\0020';

    display: block;
    height: 0;
    clear: both;
}

.task .task-config {
    float: left;
    width: 430px;
}

.task .test-input {
    display: block;
    width: 300px;
    margin-bottom: 5px;
}

.task .test-frame {
    //position: absolute;
    //left: -100000px;
    overflow: hidden;
    clear: both;
}

.task th,
.task td {
    vertical-align: top;
}

